{% extends 'base1.html.twig' %}

{% block title %}
	Formulaire d'inscription
{% endblock %}

{% block body %}
	<section>
		<h1 class="text-primary text-center">
			- INSCRIPTION -
		</h1>
		<br><br>

		<!-- Formulaire de connexion -->
		<section class="row justify-content-center">
			<div class="col-6">
				<br>
				{{form_start(form)}}
				{{form_widget(form)}}
				{{form_end(form)}}
			</div>
		</section>
		<br><br>


	</div>
</section>
{% endblock %}
