<!-- Footer-->
		<footer class="bg-light py-5 mt-5">
			<div class="container px-4 px-lg-5">
				<div class="small text-center text-muted">FREELANCE CORNER
					<br>
					La référence dans le domaine du
					sous-traitance
				</div>
				<br>
				<div class="small text-center text-muted">Copyright &copy; 2023
				</div>
			</div>
		</footer>