<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-white fixed-top py-3 " id="mainNav">
	<div class="container px-4 px-lg-5 pb-4">
		<a class="navbar-brand text-secondary" href="#page-top">
			<i class="bi bi-arrow-repeat"></i>
			&nbsp FREELANCE CORNER
		</a>
		<div class="dropdown">
			<button class="btn text-secondary btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{app.user}}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Profil</a>
				<a class="dropdown-item" href="#">Missions déposées</a>
				<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
			</div>
		</div>
	</div>
</nav>
